<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>GPC Agar Malwa</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/css/fontawesome.css">
    <link rel="stylesheet" href="/static/css/template.css">
    <link rel="stylesheet" href="/static/css/owl.css">
    <link rel="stylesheet" href="/static/css/DCcard.css"/>
    <link rel="stylesheet" href="/static/css/lightbox.css"/>
    <link rel="stylesheet" href="/static/css/Grievance.css"/>
    <link rel="stylesheet" href="/static/css/faculty.css"/>



  </head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Welcome to Government Polytechnic Collage Agar Malwa</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  

   <!-- ***** Header Area Start ***** -->
   <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/home" class="logo">
                        GPC Agar Malwa
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="nav-link"><a href="/home" class="">Home</a></li>
                        <li class="nav-link"><a href="/Faculty" class="active">Faculty</a></li>

                        <li class="has-sub nav-link">
                          <a href="javascript:void(0)">Academic</a>
                          <ul class="sub-menu">
                            <li><a class="sub-menu" href="/DC">Departmental Courses</a></li>
                            <li><a class="sub-menu" href="#">Placement</a></li>
                            <li><a class="sub-menu" href="#">Result</a></li>
                          </ul>
                        </li> 
                       
                      <li class="has-sub nav-link">
                        <a href="javascript:void(0)">About</a>
                        <ul class="sub-menu">
                          <li><a class="sub-menu" href="/aboutus">About Us</a></li>
                          <li><a class="sub-menu" href="#">Departmental Direction</a></li>
                          <li><a class="sub-menu" href="/principledesk">Principal Desk</a></li>
                        </ul>
                      </li> 
                      <li class="nav-link"><a href="/Campus" class="">Campus</a></li>

                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->



  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner my-5" id="top" data-section="section1">
    
    <img src="/static/images/imageb3.avif"/>
    
    <div class="video-overlay header-text my-5">
        <div class="container">
          <div class="row">
            <div class="">
              <section class="my-5">
              <!--for demo wrap-->
              <h1>GUEST & Faculty</h1>
              <div class="tbl-header my-2" >
                <table cellpadding="0" cellspacing="0" border="0">
                  <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Name</th>
                      <th>Designation</th>
                      <th>Qualification</th>
                      <th>Board Discipline Group Category </th>
                      <th>Board Discipline Group</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td>Dr. Hiten Singh Tomar</td>
                      <td>Principal </td>
                      <td>PHD</td>
                      <td>Science</td>
                      <td>Chemistry</td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>Dr. Manisha Sharma</td>
                      <td>Lecturar</td>
                      <td>PHD</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>Sandesh Bhandari</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td>Mayur Shikha Pancholi</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>5.</td>
                      <td>Megha Jaiswal</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>Civil</td>
                    </tr>
                    <tr>
                      <td>6.</td>
                      <td>Kalam Singh Ninama</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>Civil</td>
                    </tr>
                    <tr>
                      <td>7.</td>
                      <td>Devisingh Vishwakarma</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>Civil</td>
                    </tr>
                    <tr>
                      <td>8.</td>
                      <td>Kundan Suryavanshi</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>Mech</td>
                    </tr>
                    <tr>
                      <td>9.</td>
                      <td>Anil Patidar</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>Mech</td>
                    </tr>
                    <tr>
                      <td>10.</td>
                      <td>Achin Madan</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>Mech</td>
                    </tr>
                    <tr>
                      <td>11.</td>
                      <td>Dharmendra Yadav</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>Mech</td>
                    </tr>
                    <tr>
                      <td>12.</td>
                      <td>Sameer Multani</td>
                      <td>Lecturar</td>
                      <td>UG</td>
                      <td>Engineering & Technology</td>
                      <td>ET</td>
                    </tr>
                    <tr>
                      <td>13.</td>
                      <td>Piyush Malviya</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>ET</td>
                    </tr>
                    <tr>
                      <td>14.</td>
                      <td>Ankit Goud</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>ET</td>
                    </tr>
                    <tr>
                      <td>15.</td>
                      <td>Sheetal Jain</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>COMP. SC.</td>
                    </tr>
                    <tr>
                      <td>16.</td>
                      <td>Kamal Jain </td>
                      <td>Lecturar</td>
                      <td>UG</td>
                      <td>Engineering & Technology</td>
                      <td>COMP. SC.</td>
                    </tr>
                    <tr>
                      <td>17.</td>
                      <td>Ekta Jadon</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>COMP. SC.</td>
                    </tr>
                    <tr>
                      <td>18.</td>
                      <td>Seema Rawal</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>COMP. SC.</td>
                    </tr>
                    <tr>
                      <td>19.</td>
                      <td>Reena Rajawat</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Science</td>
                      <td>MATHEMATICS</td>
                    </tr>
                    <tr>
                      <td>20.</td>
                      <td>Surbhi Saraf </td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Science</td>
                      <td>PHYSICS</td>
                    </tr>
                    <tr>
                      <td>21.</td>
                      <td>Ravindra Soni</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>Civil</td>
                    </tr>
                    <tr>
                      <td>22.</td>
                      <td>Vasu Vidiyasir</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>Civil</td>
                    </tr>
                    <tr>
                      <td>23.</td>
                      <td>Aditi Gupta</td>
                      <td>Lecturar</td>
                      <td>PG</td>
                      <td>Engineering & Technology</td>
                      <td>ET</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </section>
            </div>
          </div>
        </div>
    </div>
  </section>  
  <!-- ***** Card Area Ended ***** -->


  <!-- ***** Footer Area Start ***** -->
  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Let's get in touch</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required="">
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="Intersted Courses...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">Submit</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>010-020-0340</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>info@meeting.edu</span>
              </li>
              <li>
                <h6>Street Address</h6>
                <span>GPC Agar Malwa ujjain road, Madhya Pradesh 455661 </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Government Polytechnic Collage Agar Malwa. All Rights Reserved. 
    </div>
  </section>
  <!-- ***** Footer Area Ended ***** -->

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <script src="/static/js/isotope.min.js"></script>
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/lightbox.js"></script>
    <script src="/static/js/tabs.js"></script>
    <script src="/static/js/video.js"></script>
    <script src="/static/js/slick-slider.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/faculty.js"></script>
     