<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>GPC Agar Malwa</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    
    <link rel="stylesheet" href="/static/css/campuscard.css"/>


  </head>

<body>

  <div class= 'container'>
    <div class="container_content">
    <div class="container_content_inner">
    <div class="title">
      <h1>Library</h1>
    </div>
    <div class="par">
    <div><ul>
      <li>
      Our college library boasts a diverse collection of books, journals, and digital resources across various subjects and disciplines. It provides a conducive environment for individual and group study with comfortable seating and ample desk space. In addition, the library offers access to online databases, interlibrary loans, and reference services to aid in research and academic pursuits.
      </li>    
    </div></ul>
    </div>
    <div class="btns">
    <button class='btns_more'><a href="/Campus" style="color: orangered;">Close</a></button>
    </div>
    </div>
    </div>
     <div class="container_outer_img">
     <div class="img-inner">
     <img src='/static/images/library.jpeg'  alt="" class="container_img"/>
           </div>
         </div>
      </div>
    <div class="overlay"></div>

</body>
</html>