<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>GPC Agar Malwa</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    
    <link rel="stylesheet" href="/static/css/campuscard.css"/>


  </head>

<body>

  <div class= 'container'>
    <div class="container_content">
    <div class="container_content_inner">
    <div class="title">
      <h1>Smart Labs</h1>
    </div>
    <div class="par">
    <div><ul>
      <li>A Wi-Fi zone and a 100 mbps leased line internet are available in all the computer labs providing ample opportunity &amp; access to each student to online reference material.</li>
      <li>More than 800 computers in the University.</li>
      <li>The University provides 24x7 Internet access through 100 Mbps Broadband connectivity.</li>
    </div></ul>
    </div>
    <div class="btns">
    <button class='btns_more'><a href="/Campus" style="color: orangered;">Close</a></button>
    </div>
    </div>
    </div>
     <div class="container_outer_img">
     <div class="img-inner">
     <img src='/static/images/clab.jpeg'  alt="" class="container_img"/>
           </div>
         </div>
      </div>
    <div class="overlay"></div>

</body>
</html>